:root {
  --orange-color: rgba(247, 77, 77, 1);
  --font-color: rgba(22, 28, 45, 1);
  --step-color1: rgba(246, 75, 75, 1);
  --step-color2: rgba(104, 213, 133, 1);
  --step-color3: rgba(71, 59, 240, 1);
  --testimonial2: rgb(188, 191, 197);
  --testimonial3: rgb(143, 147, 157);
  --hover-color: rgb(247, 97, 98);
  --price-bg: rgba(244, 247, 250, 1);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: var(--font-color);
  font-family: "gilroy-regular";
  font-size: 17px;
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0px auto;
}

.min-container {
  max-width: 375px;
  width: 100%;
  margin: 0px auto;
}

.small-container {
  max-width: 630px;
  width: 100%;
  margin: 0 auto;
}

img {
  /* max-width: 100%; */
  height: auto;
}

h1 {
  font-family: "gilroy-bold";
  font-size: 50px;
  line-height: 65px;
  letter-spacing: -2px;
}

h2 {
  font-size: 48px;
  font-family: "gilroy-bold";
  line-height: 58px;
  letter-spacing: -1.8px;
  margin: 0;
}

h3 {
  font-size: 32px;
  line-height: 44px;
  font-family: "gilroy-bold";
  letter-spacing: -1.2px;
}

h4 {
  font-size: 21px;
  font-family: "gilroy-bold";
  line-height: 32px;
  letter-spacing: -0.5px;
}

header {
  background-image: url(../images/Hero-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  position: relative;
}

header::after {
  content: "";
  background-image: url(../images/Hero-wave.png);
  position: absolute;
  bottom: -14px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 3;
  background-position: center bottom;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 29px;
  max-width: 1555px;
  margin: 0 auto;
}

.main-navigation .menu-navigation {
  display: flex;
  gap: 53px;
  align-items: center;
}

.menu-navigation nav ul {
  display: flex;
  gap: 53px;
  list-style: none;
  text-transform: capitalize;
}

.menu-navigation nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  letter-spacing: -0.1px;
  font-family: "gilroy-bold";
}

.menu-icon svg {
  display: none;
}

.btn {
  text-decoration: none;
  padding: 13px 33px;
  display: inline-block;
  font-family: "gilroy-bold";
  border-radius: 6px;
  box-shadow: 0;
  border: 0;
  white-space: nowrap;
}

.orange-btn {
  color: white;
  background: var(--orange-color);
}

/* End Navigation */

.banner-container {
  display: flex;
  padding: 70px 0 50px;
  justify-content: center;
  gap: 25px;
}

.description-wrapper {
  max-width: 541px;
  width: 100%;
}

.banner-container--left__description {
  margin-top: 60px;
}

.banner-container--left__description h1 {
  color: white;
  margin-bottom: 25px;
}

.banner-container--left__description p {
  margin-bottom: 35px;
  color: white;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: -0.2px;
}

.banner-container--left__download-app {
  margin-top: 61px;
}

.banner-container--left__download-app h4 {
  color: rgba(244, 247, 250, 1);
  letter-spacing: 1.63px;
}

.banner-container--left__download-app-links {
  display: flex;
  gap: 15px;
}

.banner-container--right {
  position: relative;
}

.banner-container--right__img::after {
  content: url(../images/banner-dots-icon.svg);
  position: absolute;
  top: -34px;
  right: 17px;
  z-index: -2;
}

.banner-container--right__img {
  position: relative;
  top: 67px;
  z-index: 3;
}

/* end banner section */

.collaborate-team {
  padding-top: 108px;
  gap: 142px;
  display: flex;
}

.collaborate-team .collaborate-right {
  margin-top: 32px;
}

.description h4 {
  margin-bottom: 11px;
}

.description p {
  font-size: 19px;
  line-height: 32px;
  letter-spacing: -0.2px;
  margin-bottom: 50px;
}

.description__deadline-team p {
  font-size: 17px;
  line-height: 29px;
  letter-spacing: -0.2px;
  margin-bottom: 30px;
}

/* end collaborate section */

.remote-team {
  margin-top: 150px;
  gap: 200px;
  display: flex;
}

.remote-team .remote-team--left__wrapper {
  width: 100%;
  max-width: 469px;
  margin: 0 auto;
}

/* end remote section */

.download-container {
  padding: 157px 50px 123px;
}

.download-container .download-container--description {
  text-align: center;
}

.download-container .download-container--steps {
  display: flex;
  margin-top: 73px;
  gap: 125px;
}

.download-container--steps .download-container-step .step {
  display: inline-block;
  padding: 13px 29px;
  border-radius: 50%;
  color: white;
  font-family: "gilroy-bold";
  font-size: 36px;
}

.download-container--steps .step1 {
  background-color: var(--step-color1);
}

.download-container--steps .step2 {
  background-color: var(--step-color2);
}

.download-container--steps .step3 {
  background-color: var(--step-color3);
}

.download-container--steps .download-container-step {
  text-align: center;
  max-width: 253px;
  width: 100%;
}

.download-container-step .step-description h4 {
  margin: 46px 0 14px;
}

.download-container-step .step-description p {
  display: inline-block;
  line-height: 29px;
  letter-spacing: -0.2px;
  margin: 0;
}

.download-container--steps {
  position: relative;
}

.download-container--steps::before {
  content: "";
  border-top: 2.4px dashed rgba(213, 215, 221, 1);
  position: absolute;
  top: 35px;
  z-index: -2;
  height: 100%;
  width: 76%;
  left: 135px;
}
/* End of download section */

.video-img {
  position: relative;
  z-index: 5;
}

.video-img img {
  position: relative;
  max-width: 100%;
  height: auto;
}

.video-img::before {
  content: "";
  background: url(../images/video-Dots.png) no-repeat;
  position: absolute;
  bottom: -51px;
  left: -38px;
  height: 100px;
  width: 100%;
}
/* End of video section */

section.features-section {
  background: linear-gradient(rgba(22, 28, 45, 1), rgba(49, 60, 89, 1));
  position: relative;
  padding-top: 380px;
  margin-top: -380px;
}

section.features-section::after {
  content: "";
  background: url(../images/feature-wave.svg);
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.features-container {
  padding: 111px 0;
  position: relative;
}

.features-container::after {
  content: "";
  background: url(../images/Line.png), no-repeat, center bottom;
  position: absolute;
  bottom: 0;
}

.feature-container--description {
  text-align: center;
}

.feature-container--description h2 {
  color: white;
}

.features-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 95px;
  gap: 60px 41px;
}

.features-wrapper .feature {
  display: flex;
  gap: 22px;
  max-width: 339px;
  width: 100%;
}

.features-wrapper .feature .feature-img img {
  margin-top: 8px;
}

.features-wrapper .feature .feature-description h4 {
  margin: 0;
  color: white;
}

.features-wrapper .feature .feature-description p {
  color: white;
}

/* End of feature section */

section.testimonial-section {
  background: linear-gradient(358deg, rgba(22, 28, 45, 1), rgba(49, 60, 89, 1));
}

.testimonial-container {
  padding: 112px 0px;
}

.testimonial-container--description {
  text-align: center;
  padding-bottom: 56px;
}

.testimonial-container--description h3 {
  color: white;
  margin: 0;
}

.testimonial-container--description h3 span {
  border-bottom: 2px solid var(--step-color2);
}

.testimonial-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.testimonial-wrapper .testimonial {
  max-width: 650px;
  width: 100%;
  border: 1px solid;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 28px 34px 30px 35px;
  border-radius: 14px;
  background-color: white;
}

.testimonial-wrapper .testimonial p {
  font-size: 21px;
  line-height: 32px;
  letter-spacing: -0.5px;
}

.testimonial-wrapper .testimonial h6 {
  color: rgba(22, 28, 45, 1);
  font-size: 17px;
  margin: 0;
}

.testimonial-wrapper .testimonial2 {
  opacity: 0.7;
}

.testimonial-wrapper .testimonial3 {
  opacity: 0.5;
}

.testimonial-container .cta a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--step-color2);
  text-decoration: none;
  /* font-size: 17px; */
  font-family: "gilroy-bold";
}

.testimonial-container .cta a svg {
  height: 20px;
}

.testimonial-container .cta {
  margin-top: 40px;
}

/* end of testimonial-section */

section.pricing-section {
  background: var(--price-bg);
  position: relative;
}

section.pricing-section::after {
  content: url(../images/pricing-dots.png);
  position: absolute;
  bottom: 0px;
  right: 0;
}

section.pricing-section::before {
  content: "";
  background: url(../images/price-wave.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  bottom: 0px;
  height: 92px;
  width: 100%;
  z-index: 5;
  background-position: center bottom;
}

.pricing-container {
  padding: 109px 0 133px;
}

.pricing-container .pricing-description {
  text-align: center;
  padding-bottom: 74px;
}

.pricing-container .pricing-description p {
  padding: 0 81px;
}

.price-row {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.price-row .price-col {
  max-width: 350px;
  padding: 26px 22px 0 36px;
  text-align: center;
  border: 1px solid rgba(231, 233, 237, 1);
  border-radius: 10px;
}

.price-row .price-col p {
  color: var(--hover-color);
  font-family: "gilroy-bold";
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1.63px;
  text-align: center;
}

.price-row .price-col .price-label p {
  color: black;
}

.price-row .price-col .price-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 31px 0 21px;
}

.price-row .price-col .price-label h2 span {
  font-size: 22px;
}

.price-row .price-col .price-description ul {
  list-style: none;
  padding: 0;
}

.price-description ul li {
  padding: 21px 9px 18px;
  border-top: 1px solid rgba(231, 233, 237, 1);
  font-size: 19px;
  letter-spacing: -0.2px;
  line-height: 32px;
}

.black-btn {
  color: white;
  background-color: black;
}

.price-col:hover {
  background-color: white;
}

.price-col .black-btn:hover {
  background-color: var(--orange-color);
  color: white;
}

/* end of price section */

.links-container {
  display: flex;
  justify-content: space-around;
  gap: 190px;
  padding: 88px 0px;
}

.links-container .left-links {
  display: flex;
  gap: 46px;
}

.links-container .left-links h5 {
  margin-bottom: 32px;
}

.links-container .right-links .app-link {
  margin-bottom: 13px;
}

.links-container .left-links .links ul {
  list-style: none;
  padding: 0;
}

.links-container .left-links .links ul li a {
  line-height: 40px;
  letter-spacing: -0.2px;
  text-decoration: none;
  color: black;
}

.links-container .left-links .links ul li a:hover {
  color: var(--hover-color);
}

.links-container .left-links .links {
  padding-right: 76px;
}

.footer-description {
  border-top: 1px solid rgba(231, 233, 237, 1);
  padding: 29px 0 33px;
  display: flex;
  justify-content: space-between;
}

.footer-description .copyright {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer-description .copyright svg {
  width: 17px;
}

.footer-description .social-media ul {
  display: flex;
  gap: 31px;
  list-style: none;
  padding: 0;
}

.footer-description .social-media ul li a img {
  width: 17px;
}

.footer-description .social-media ul li a svg {
  width: 17px;
}

.footer-description .social-media ul li a svg:hover {
  fill: var(--hover-color);
}

/* media-query */

@media (max-width: 1110px) {
  header::after {
    height: 300px;
  }

  .container {
    padding: 0 20px;
  }
}

@media (max-width: 991px) {
  .main-navigation .menu-navigation {
    display: none;
    position: absolute;
    flex-direction: column;
    padding: 20px;
    background: linear-gradient(rgba(121, 34, 216, 1), rgba(54, 54, 178, 1));
    box-shadow: 0px 0px 2px magenta;
    gap: 20px;
    right: 28px;
    top: 53px;
  }

  .main-navigation .menu-navigation ul {
    flex-direction: column;
    padding: 0;
    gap: 30px;
  }

  .menu-icon {
    padding: 5px;
    border: 1px solid white;
  }

  .menu-icon svg {
    fill: white;
    width: 30px;
    display: block;
  }

  .main-navigation .menu-navigation.show {
    display: flex;
  }

  .banner-container--right__img {
    top: 55px;
  }

  .banner-container--right__img img {
    max-width: 100%;
    height: auto;
  }

  .banner-container {
    flex-direction: column;
    align-items: center;
    padding: 0px 0 41px;
  }

  .collaborate-sectiont .collaborate-team {
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
    padding-top: 50px;
  }

  .remote-team-section .remote-team {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
  }

  .download-container .download-container--description {
    padding: 0px;
  }

  .download-container .download-container--steps {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .download-container--steps::before {
    display: none;
  }

  .video-img {
    padding: 0px 20px;
  }

  section.features-section {
    margin-top: -280px;
    padding-top: 280px;
  }

  section.pricing-section::before {
    bottom: -57px;
  }

  footer .links-container {
    flex-direction: column;
    align-items: center;
  }

  footer .footer-description {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .price-row {
    flex-direction: column;
    align-items: center;
  }

  section.features-section {
    margin-top: -200px;
    padding-top: 200px;
  }
}

@media (max-width: 480px) {
  .main-navigation {
    padding-top: 20px;
    align-items: center;
    gap: 20px;
  }

  .collaborate-left--img img {
    max-width: 100%;
    height: auto;
  }

  .remote-team--right__img img {
    max-width: 100%;
    height: auto;
  }

  section.features-section {
    margin-top: -129px;
    padding-top: 129px;
  }

  .testimonial-wrapper .testimonial {
    flex-direction: column;
  }

  section.pricing-section::before {
    bottom: -2px;
  }

  .pricing-container .pricing-description p {
    padding: 0;
  }

  .pricing-container {
    padding: 109px 0 176px;
  }

  footer .links-container .left-links {
    flex-direction: column;
    align-items: center;
  }
}
